{% set footerData = footerData() %}


<footer class="py-5 border-top border-warning">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-sm-6 d-flex justify-content-start flex-column">
                <div>
                    <h3 class="text-center text-warning my-5">Accès rapide</h3>
                    <ul class="list-group d-flex flex-column flex-wrap align-content-center justify-content-center">
                        <li class="fs-5 my-2">
                            <i class="bi bi-chevron-right text-warning"></i>
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="fs-5 my-2">
                            <i class="bi bi-chevron-right text-warning"></i>
                            <a href="/#services">Les Services</a>
                        </li>
                        <li class="fs-5 my-2">
                            <i class="bi bi-chevron-right text-warning"></i>
                            <a href="{{ path('annonces') }}">Les occasions</a>
                        </li>
                        <li class="fs-5 my-2">
                            <i class="bi bi-chevron-right text-warning"></i>
                            <a href="{{ path('avis') }}">Avis Clients</a>
                        </li>
                        <li class="fs-5 my-2">
                            <i class="bi bi-chevron-right text-warning"></i>
                            <a href="{{ path('contact') }}">Contactez-nous</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-center text-warning my-5">Informations utiles</h3>
                    <ul class="list-group d-flex flex-column flex-wrap align-content-center justify-content-center">
                        {% for item in footerData['garages'] %}
                        <li class="my-2 fs-3 text-center">{{ item.name }}</li>
                        <li class="my-2 fs-5"><i class="text-warning bi bi-envelope-at-fill fs-2 mx-3"></i> {{ item.mail
                            }}</li>
                        <li class="my-2 fs-5"><i class="text-warning bi bi-telephone-fill fs-2 mx-3"></i> {{ item.phone
                            }}</li>
                        <li class="my-2 fs-5"><i class="text-warning bi bi-geo-alt-fill fs-2 mx-3"></i> {{ item.address
                            }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 d-flex flex-column justify-content-start flex-wrap align-content-center">
                <h3 class="text-center text-warning my-5">Horaires d'ouvertures</h3>
                <ul class="d-flex flex-column flex-wrap align-content-center">
                    {% for item in footerData['schedules'] %}
                    <div class="my-2">
                        <li><span class="text-warning fs-5">{{ item.openedDays }}</span></li>
                        <div class="d-flex justify-content-between">
                            <li>{{ item.hoursPM }}</li>
                            <li class="mx-3">{{ item.hoursAM }}</li>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="text-center py-2">
                <p>
                    © 2023 - Garage V.Parrot -
                    <a href="{{ path('legal') }}"> Mentions légales</a>
                </p>
            </div>
        </div>
    </div>
</footer>