{% extends "base.html.twig" %}

{% block title %}{{ ad.title }}{% endblock title %}

{% block body %}
<main class="container-fluid m-0 p-0">
    <h1 class="text-center text-warning my-5">Details de l'annonce</h1>

    {# CAROUSEL #}
    <div class="d-flex justify-content-center">
        <div id="carousel{{ ad.id }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for index, image in ad.getimages()|slice(0, 3) %}
                <div class="carousel-item {% if index == 0 %}active{% endif %}">
                    <img src="{{ image.path }}" class="img-fluid border border-warning" alt="Image {{ index }}">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ ad.id }}"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ ad.id }}"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h6 class="text-center my-3">Date de mise en ligne: {{ ad.createdAt|date("d/m/Y") }}</h6>

    {# DETAILS DE L'ANNONCE #}
    <section class="border-bottom border-warning p-5 d-flex flex-column flex-wrap align-content-center">
        <h3 class="text-center" id="titreAnnonce">{{ad.title}}</h3>

        <ul class="my-5">
            <li>
                <p><span class="text-warning fw-bold">Marque: </span> {{ad.cars.brand}}</p>
            </li>
            <li>
                <p><span class="text-warning fw-bold">Modele: </span> {{ad.cars.model}}</p>
            </li>
            <li>
                <p><span class="text-warning fw-bold">Energie: </span> {{ad.cars.energy}}</p>
            </li>
            <li>
                <p><span class="text-warning fw-bold">Annee: </span> {{ad.cars.year}}</p>
            </li>
            <li>
                <p><span class="text-warning fw-bold">Kilometres: </span> {{ad.cars.kilometers}} KM</p>
            </li>
        </ul>
        <h3 class="text-warning fs-1 text-center my-5 ">{{ ad.price }} €</h3>
        <h6 class="fs-3 my-5">Liste des options:</h6>
        <p>{% set descriptionArray = ad.description|split('\r\n') %}
            {% for item in descriptionArray %}
            {{item}} <br>
            {% endfor %}
        </p>
        <p class="text-center fs-1 fw-bold my-5">
            <i class="bi bi-telephone-fill text-warning fs-1 me-3"></i>{{ ad.garage.phone }}
        </p>

    </section>

    {# FORMULAIRE #}
    <section class="border-bottom border-warning  p-5 col-sm-8 d-flex flex-column flex-wrap mx-auto">
        <h2 class="text-center text-warning my-5">Contactez-nous</h2>
        <form method="POST" action="/mail">
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" class="form-control my-1">
            </div>

            <div class="form-group">
                <label for="email">E-mail :</label>
                <input type="email" id="email" name="email" class="form-control my-1">
            </div>

            <div class="form-group">
                <label for="sujet">Sujet :</label>
                <input type="text" id="sujet" name="sujet" class="form-control my-1">
            </div>

            <div class="form-group">
                <label for="message">Message :</label>
                <textarea id="message" name="message" class="form-control my-1" rows="10"></textarea>
            </div>

            <button type="submit" class="btn my-5">Envoyer</button>
        </form>
        {# BTN on top #}
        <button id="topBtn" onclick="onTop()" class="btn"><i class="bi bi-arrow-up-circle-fill"></i></button>
        <a class="text-warning fw-bold text-center" href="{{ path('annonces') }}">Retour</a>
    </section>


</main>

{% endblock body %}
{% block javascript %}
<script src="/js/annonce.js"></script>
{% endblock javascript %}